{
  "openapi": "3.1.0",
  "x-group-parameters": true,
  "info": {
    "title": "Mux API",
    "description": "Mux is how developers build online video. This API encompasses both Mux Video and Mux Data functionality to help you build your video-related projects better and faster than ever before.",
    "version": "v1",
    "contact": {
      "name": "Mux DevEx",
      "url": "https://docs.mux.com",
      "email": "devex@mux.com"
    }
  },
  "servers": [
    {
      "url": "https://api.mux.com",
      "description": "Mux Production API"
    }
  ],
  "security": [
    {
      "accessToken": []
    },
    {
      "authorizationToken": []
    }
  ],
  "tags": [
    {
      "name": "Transcription Vocabularies",
      "description": "Transcription Vocabularies allows you to provide collections of phrases like proper nouns, technical jargon, and uncommon words as part of captioning workflows. When using Auto-Generated Captions, Transcription Vocabularies increase the likelihood of correct speech recognition for these words and phrases."
    },
    {
      "name": "Assets",
      "description": "An asset refers to a piece of media content that is stored or is being live streamed through the Mux system. An asset always has a duration and one or more tracks (audio, video, and text data).\n\nThe media content of an asset cannot be updated once created, however an asset can be used to create another asset, and can be modified within that process."
    },
    {
      "name": "Live Streams",
      "description": "A Live Stream represents a unique live stream of video being pushed to Mux. It includes configuration details (a Stream Key) for live broadcasting software/hardware and a Playback ID for playing the stream anywhere. Currently, RTMP is the only supported method of ingesting video. Use rtmp://global-live.mux.com:5222/app with the Live Stream's Stream Key for getting the video into Mux, and use https://stream.mux.com with the Live Stream's Playback ID for playback.\n\nA Live Stream can be used once for a specific event, or re-used forever. If you're building an application like Facebook Live or Twitch, you could create one Live Stream per user. This allows them to configure their broadcasting software once, and the Live Stream Playback ID will always show their latest stream.\n\nEach RTMP session creates a new video asset automatically. You can set up a webhook to be notified each time a broadcast (or Live Stream RTMP session) begins or ends with the video.live_stream.active and video.live_stream.idle events respectively. Assets that are created from a Live Stream have the same behavior as other Assets you create.\n\nLearn more about [how to go live in our guides](https://docs.mux.com/guides/start-live-streaming)."
    },
    {
      "name": "URL Signing Keys",
      "description": "A URL signing key is used as the secret when signing any Mux URL. Mux requires a [JSON Web Token](https://jwt.io/) as the value of the token query parameter. The token query parameter must be set for URLs that reference a playback ID with a signed playback policy."
    },
    {
      "name": "Direct Uploads",
      "description": "Direct upload allows you to push assets directly to Mux storage instead of needing to go through your own first. When you create a new direct upload, we'll give you back a signed URL for a Google Cloud Storage bucket. Their storage API is S3 compatible, so whatever tool you use to upload to either GCS or S3 should work, just remember you're probably uploading large video files and should [take advantage of things like resumable or multipart uploads](https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload).\n\nParticularly for customers that deal with a lot of user-generated content, it's common to expect quite a few abandoned uploads. To keep those abandoned uploads from cluttering up your asset lists, we don't create an asset for you until the upload is complete. Once that asset is created, you can expect all of the normal asset-related webhooks."
    },
    {
      "name": "Delivery Usage",
      "description": "The Delivery Usage API allows you to get delivery/streaming usage details for each asset and across all assets. Delivery usage details are aggregated every hour at the top of the hour and can be requested for a specified time window within the last 90 days starting at 12 hours prior to when the request is made.\n\nAssets are ordered by delivery usage starting with the one with the highest usage. Only assets with delivery usage greater than 0 seconds are returned in the response."
    },
    {
      "name": "Playback Restrictions",
      "description": "Playback Restrictions allows you to set additional rules for playing videos. You can set the domains/hostnames allowed to play your videos. For instance, viewers can play videos embedded on the `https://example.com` website when you set the Playback Restrictions with `example.com` as an allowed domain. Any Video requests from other websites are denied. Additionally, you can set rules for what user agents to allow. Please see [Using User-Agent HTTP header for validation](https://docs.mux.com/guides/secure-video-playback#using-user-agent-http-header-for-validation) for more details on this feature."
    },
    {
      "name": "DRM Configurations",
      "description": "DRM Configurations allow you to adjust the security level of content delivered through Mux Video's Digital Rights Management (DRM) feature."
    },
    {
      "name": "Playback ID",
      "description": "Operations related to the manipulation of playback IDs, through which users are able to stream videos and live streams from Mux."
    },
    {
      "name": "Video Views",
      "description": "An individual video view tracked by Mux Data. For the full list of properties for each view please refer to the table of data fields in the [Export raw video view data guide](https://docs.mux.com/guides/export-raw-video-view-data)."
    },
    {
      "name": "Errors",
      "description": "Playback errors are tracked and aggregated by Mux Data. Errors can be listed by the API, which contains data about the error code, message, and how often the error occurred."
    },
    {
      "name": "Filters",
      "description": "Deprecated, please refer to the Dimensions APIs."
    },
    {
      "name": "Dimensions",
      "description": "Dimensions are the types of metadata that can be collected for a video view. Some dimensions are collected automatically based on the playback or device, such as the viewer's Country or the device information. Other dimensions are specified by the developer when configuring a Mux Data video view such as the video title. The Dimensions APIs allow you to get a list of the supported dimensions and their values."
    },
    {
      "name": "Exports",
      "description": "Exports allow you to download the daily CSV files that are generated from the video views that occurred in the previous day. Please contact [support](mailto:support@mux.com) for information about enabling exports for your organization."
    },
    {
      "name": "Metrics",
      "description": "Historical metrics are used for tracking KPIs, diagnosing issues, and\nmeasuring viewers' quality of experience. Metrics are calculated using the\nvideo views that have been completed and are bucketed on the view end time\nfor quality of experience metrics and view start time for engagement\nmetrics. Historical metrics provide a large collection of dimensions that\ncan be used to aggregate quality of experience based on view metadata. You\ncan also easily compare experiences across viewer populations to, for\nexample, find issues with specific devices or geographies.\n\nHistorical metrics are similar but not directly comparable to the real-time\nmetrics in the Real-time APIs. These metrics are aggregated for long-term\nstorage historical reporting and are generated using different viewer\npopulations.\n"
    },
    {
      "name": "Engagement",
      "description": "Engagement metrics are a subset of historical metrics that describe how viewers watch a specific asset, video, or playback ID across the duration of the content."
    },
    {
      "name": "Monitoring",
      "description": "Monitoring metrics are used for operational monitoring of a video platform.\nThe metrics are aggregated in five second intervals, across the views that\nare currently being watched. The real-time metrics' timeline, breakdown,\nand histogram representations are available via the APIs.\n\nMonitoring metrics are similar but not directly comparable to the historical\nmetrics in the Metrics APIs. These metrics are aggregated to provide the most\noperational detail possible used for resolving operational issues.\nMux Data Monitoring metrics are available to Mux Data customers on a Media plan.\n"
    },
    {
      "name": "Real-Time",
      "description": "The Mux Data Real-time API has been deprecated, please refer to the\nMux Data `Monitoring` APIs which provide the same functionality.\nMux Data Monitoring metrics are available to Mux Data customers on a Media plan.\n"
    },
    {
      "name": "Incidents",
      "description": "Incidents occur when an anomaly alert is triggered in Mux Data. The Incidents API provides operations related to the raising and managing of alerting incidents."
    },
    {
      "name": "Annotations",
      "description": "Annotations allow you to add notes at a specific datetime to view in the Mux Data dashboard."
    },
    {
      "name": "Subview Metrics",
      "description": "A single video view is made up of one or more subviews — for example, a `rendition` subview tracks a continuous period spent at a specific video quality level, and a `playback_mode` subview tracks a continuous period in a specific playback mode (such as fullscreen or picture-in-picture).\n\nSubview metrics let you measure and filter on this subview-level data directly, rather than relying only on view-level metrics. For example, you can find out how much playing time was spent at 1080p vs. 720p, or broken down further by country.\n"
    },
    {
      "name": "Signing Keys",
      "description": "Signing keys are used to sign JSON Web Tokens (JWTs) for securing certain requests, such as secure playback URLs and access to real-time viewer counts in Mux Data. **One signing key can be used to sign multiple requests - you probably only need one active at a time.** However, you can create multiple signing keys to enable key rotation, creating a new key and deleting the old only after any existing signed requests have expired."
    },
    {
      "name": "Utilities",
      "description": "Collection of utility methods for using Mux APIs. There's only one thing in here right now, maybe there will be more later."
    },
    {
      "name": "Usage Exports",
      "description": "Usage Exports provide programmatic access to your organization's billing usage data. The Usage Exports feature must be enabled for your organization in the Mux Dashboard under **Usage > Exports**."
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints allow you to configure URLs where Mux will send notifications about events in your environment (e.g. asset ready, live stream active). Requires an access token with `system:read` and/or `system:write` permissions."
    },
    {
      "name": "Jobs",
      "description": "List and cancel jobs across all workflows."
    },
    {
      "name": "Ask Questions",
      "description": "Ask questions about a video and get structured answers."
    },
    {
      "name": "Edit Captions",
      "description": "Edit an existing caption track with find-and-replace edits and optional profanity censoring."
    },
    {
      "name": "Find Best Thumbnails",
      "description": "Sample thumbnails from a Mux Video asset, score them with AI, and select the best thumbnail candidates."
    },
    {
      "name": "Find Key Moments",
      "description": "Identify key moments in a video."
    },
    {
      "name": "Find Scenes",
      "description": "Segment a Mux video asset into ordered scenes using shot boundaries and transcript cues."
    },
    {
      "name": "Generate Chapters",
      "description": "Generate chapters for a video."
    },
    {
      "name": "Generate Engagement Insights",
      "description": "Analyze viewer engagement patterns to identify high and low engagement moments with AI-powered insights."
    },
    {
      "name": "Generate Premium Captions",
      "description": "Generate high-quality captions for a Mux asset and upload the result as a text track."
    },
    {
      "name": "Moderate",
      "description": "Analyze a video for inappropriate content."
    },
    {
      "name": "Summarize",
      "description": "Generate a title, description, and tags for a video."
    },
    {
      "name": "Translate Audio",
      "description": "Translate the audio track to another language."
    },
    {
      "name": "Translate Captions",
      "description": "Translate captions from one language to another."
    },
    {
      "name": "Directives",
      "description": "Define which Robots workflows should run against Mux assets, and under what conditions."
    }
  ],
  "paths": {
    "/video/v1/transcription-vocabularies": {
      "post": {
        "tags": [
          "Transcription Vocabularies"
        ],
        "summary": "Create a Transcription Vocabulary",
        "description": "Create a new Transcription Vocabulary.",
        "operationId": "create-transcription-vocabulary",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTranscriptionVocabularyRequest"
              },
              "example": {
                "name": "Mux API Vocabulary",
                "phrases": [
                  "Mux",
                  "Live Stream",
                  "Playback ID",
                  "video encoding"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transcription Vocabulary Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionVocabularyResponse"
                },
                "example": {
                  "data": {
                    "id": "VDm3npt2eaEDvz9emzun8Q",
                    "name": "Mux API Vocabulary",
                    "phrases": [
                      "Mux",
                      "Live Stream",
                      "Playback ID",
                      "video encoding"
                    ],
                    "created_at": "1609869152",
                    "updated_at": "1609869152"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Transcription Vocabularies"
        ],
        "summary": "List Transcription Vocabularies",
        "description": "List all Transcription Vocabularies.",
        "operationId": "list-transcription-vocabularies",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to include in the response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 10
            }
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTranscriptionVocabulariesResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "VDm3npt2eaEDvz9emzun8Q",
                      "name": "Mux API Vocabulary",
                      "phrases": [
                        "Mux",
                        "Live Stream",
                        "Playback ID",
                        "video encoding"
                      ],
                      "created_at": "1609869152",
                      "updated_at": "1609870000"
                    },
                    {
                      "id": "M1lDlzSP102NgukTnyQyLqw",
                      "name": "Video Codecs",
                      "phrases": [
                        "h.264",
                        "HEVC",
                        "AV1"
                      ],
                      "created_at": "1609869152",
                      "updated_at": "1609870000"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/transcription-vocabularies/{TRANSCRIPTION_VOCABULARY_ID}": {
      "get": {
        "tags": [
          "Transcription Vocabularies"
        ],
        "summary": "Retrieve a Transcription Vocabulary",
        "description": "Retrieves the details of a Transcription Vocabulary that has previously been created. Supply the unique Transcription Vocabulary ID and Mux will return the corresponding Transcription Vocabulary information. The same information is returned when creating a Transcription Vocabulary.",
        "operationId": "get-transcription-vocabulary",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/transcription_vocabulary_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionVocabularyResponse"
                },
                "example": {
                  "data": {
                    "id": "VDm3npt2eaEDvz9emzun8Q",
                    "name": "Mux API Vocabulary",
                    "phrases": [
                      "Mux",
                      "Live Stream",
                      "Playback ID",
                      "video encoding"
                    ],
                    "created_at": "1609869152",
                    "updated_at": "1609870000"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Transcription Vocabularies"
        ],
        "summary": "Delete a Transcription Vocabulary",
        "description": "Deletes a Transcription Vocabulary. The Transcription Vocabulary's ID will be disassociated from any live streams using it. Transcription Vocabularies can be deleted while associated live streams are active. However, the words and phrases in the deleted Transcription Vocabulary will remain attached to those streams while they are active.",
        "operationId": "delete-transcription-vocabulary",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/transcription_vocabulary_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "put": {
        "tags": [
          "Transcription Vocabularies"
        ],
        "summary": "Update a Transcription Vocabulary",
        "description": "Updates the details of a previously-created Transcription Vocabulary. Updates to Transcription Vocabularies are allowed while associated live streams are active. However, updates will not be applied to those streams while they are active.",
        "operationId": "update-transcription-vocabulary",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/transcription_vocabulary_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTranscriptionVocabularyRequest"
              },
              "example": {
                "name": "Mux API Vocabulary - Updated",
                "phrases": [
                  "Mux",
                  "Live Stream",
                  "RTMP",
                  "Stream Key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptionVocabularyResponse"
                },
                "example": {
                  "data": {
                    "id": "VDm3npt2eaEDvz9emzun8Q",
                    "name": "Mux API Vocabulary - Updated",
                    "phrases": [
                      "Mux",
                      "Live Stream",
                      "RTMP",
                      "Stream Key"
                    ],
                    "created_at": "1609869152",
                    "updated_at": "1609870000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create an asset",
        "description": "Create a new Mux Video asset.",
        "operationId": "create-asset",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetRequest"
              },
              "example": {
                "inputs": [
                  {
                    "url": "https://muxed.s3.amazonaws.com/leds.mp4"
                  }
                ],
                "playback_policies": [
                  "public"
                ],
                "video_quality": "basic"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                },
                "example": {
                  "data": {
                    "status": "preparing",
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "uNbxnGLKJ00yfbijDO8COxTOyVKT01xpxW"
                      }
                    ],
                    "master_access": "none",
                    "id": "SqQnqz6s5MBuXGvJaUWdXuXM93J9Q2yv",
                    "encoding_tier": "baseline",
                    "video_quality": "basic",
                    "created_at": "1607452572",
                    "max_resolution_tier": "1080p",
                    "progress": {
                      "state": "ingesting",
                      "progress": 0
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List assets",
        "description": "List all Mux assets.",
        "operationId": "list-assets",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/list_asset_live_stream_id"
          },
          {
            "$ref": "#/components/parameters/list_asset_upload_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssetsResponse"
                },
                "example": {
                  "next_cursor": "tF601CUtCLmnYuHW01Vwl6BWcWTNv001uoaiK4C01jqk1acX802plAjZhTQ",
                  "data": [
                    {
                      "tracks": [
                        {
                          "type": "video",
                          "max_width": 1920,
                          "max_height": 800,
                          "max_frame_rate": 24,
                          "id": "HK01Bq7FrEQmIu3QpRiZZ98HQOOZjm6BYyg17eEunlyo",
                          "duration": 734.166667
                        },
                        {
                          "type": "audio",
                          "max_channels": 2,
                          "id": "nNKHJqw2G9cE019AoK16CJr3O27gGnbtW4w525hJWqWw",
                          "duration": 734.143991
                        }
                      ],
                      "status": "ready",
                      "playback_ids": [
                        {
                          "policy": "public",
                          "id": "85g23gYz7NmQu02YsY81ihuod6cZMxCp017ZrfglyLCKc"
                        }
                      ],
                      "max_stored_resolution": "HD",
                      "resolution_tier": "1080p",
                      "max_stored_frame_rate": 24,
                      "master_access": "none",
                      "id": "8jd7M77xQgf2NzuocJRPYdSdEfY5dLlcRwFARtgQqU4",
                      "encoding_tier": "baseline",
                      "video_quality": "basic",
                      "duration": 734.25,
                      "created_at": "1609869152",
                      "aspect_ratio": "12:5",
                      "max_resolution_tier": "1080p",
                      "progress": {
                        "state": "completed",
                        "progress": 100
                      }
                    },
                    {
                      "tracks": [
                        {
                          "type": "video",
                          "max_width": 1920,
                          "max_height": 1080,
                          "max_frame_rate": 29.97,
                          "id": "RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4",
                          "duration": 23.8238
                        },
                        {
                          "type": "audio",
                          "max_channels": 2,
                          "id": "LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg",
                          "duration": 23.823792
                        }
                      ],
                      "status": "ready",
                      "playback_ids": [
                        {
                          "policy": "public",
                          "id": "vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I"
                        }
                      ],
                      "max_stored_resolution": "HD",
                      "resolution_tier": "1080p",
                      "max_stored_frame_rate": 29.97,
                      "master_access": "none",
                      "id": "lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68",
                      "encoding_tier": "smart",
                      "video_quality": "plus",
                      "duration": 23.857167,
                      "created_at": "1609868768",
                      "aspect_ratio": "16:9",
                      "max_resolution_tier": "1080p",
                      "progress": {
                        "state": "completed",
                        "progress": 100
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve an asset",
        "description": "Retrieves the details of an asset that has previously been created. Supply the unique asset ID that was returned from your previous request, and Mux will return the corresponding asset information. The same information is returned when creating an asset.",
        "operationId": "get-asset",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                },
                "example": {
                  "data": {
                    "tracks": [
                      {
                        "type": "video",
                        "max_width": 1920,
                        "max_height": 1080,
                        "max_frame_rate": 29.97,
                        "id": "RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4",
                        "duration": 23.8238
                      },
                      {
                        "type": "audio",
                        "max_channels": 2,
                        "id": "LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg",
                        "duration": 23.823792
                      }
                    ],
                    "status": "ready",
                    "resolution_tier": "1080p",
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I"
                      }
                    ],
                    "passthrough": "example",
                    "max_stored_resolution": "HD",
                    "max_stored_frame_rate": 29.97,
                    "max_resolution_tier": "1080p",
                    "progress": {
                      "state": "completed",
                      "progress": 100
                    },
                    "master_access": "none",
                    "id": "lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68",
                    "encoding_tier": "baseline",
                    "video_quality": "basic",
                    "duration": 23.857167,
                    "created_at": "1609868768",
                    "aspect_ratio": "16:9"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete an asset",
        "description": "Deletes a video asset and all its data.",
        "operationId": "delete-asset",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Assets"
        ],
        "summary": "Update an asset",
        "description": "Updates the details of an existing Asset with the provided Asset ID. This API currently only supports the `passthrough`, `meta` and `thumbnail_time` fields.",
        "operationId": "update-asset",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetRequest"
              },
              "example": {
                "passthrough": "Example"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                },
                "example": {
                  "data": {
                    "tracks": [
                      {
                        "type": "video",
                        "max_width": 1920,
                        "max_height": 1080,
                        "max_frame_rate": 29.97,
                        "id": "RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4",
                        "duration": 23.8238
                      },
                      {
                        "type": "audio",
                        "max_channels": 2,
                        "id": "LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg",
                        "duration": 23.823792
                      }
                    ],
                    "status": "ready",
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I"
                      }
                    ],
                    "max_stored_resolution": "HD",
                    "resolution_tier": "1080p",
                    "max_stored_frame_rate": 29.97,
                    "master_access": "none",
                    "id": "lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68",
                    "encoding_tier": "baseline",
                    "video_quality": "basic",
                    "duration": 23.857167,
                    "created_at": "1609868768",
                    "updated_at": "1609869000",
                    "aspect_ratio": "16:9",
                    "passthrough": "Example",
                    "max_resolution_tier": "1080p",
                    "progress": {
                      "state": "completed",
                      "progress": 100
                    },
                    "thumbnail_time": 12.67
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/input-info": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve asset input info",
        "description": "Returns a list of the input objects that were used to create the asset along with any settings that were applied to each input.",
        "operationId": "get-asset-input-info",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetInputInfoResponse"
                },
                "example": {
                  "data": [
                    {
                      "settings": {
                        "url": "https://muxed.s3.amazonaws.com/leds.mp4"
                      },
                      "file": {
                        "container_format": "mp4",
                        "tracks": [
                          {
                            "type": "video",
                            "duration": 120,
                            "width": 1280,
                            "height": 720,
                            "frame_rate": 30,
                            "encoding": "h.264"
                          },
                          {
                            "type": "audio",
                            "duration": 120,
                            "sample_rate": 16000,
                            "sample_size": 24,
                            "encoding": "aac"
                          }
                        ]
                      }
                    },
                    {
                      "settings": {
                        "url": "https://example.com/myVideo_en.srt"
                      },
                      "file": {
                        "container_format": "srt"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/playback-ids": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create a playback ID",
        "description": "Creates a playback ID that can be used to stream the asset to a viewer.",
        "operationId": "create-asset-playback-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaybackIDRequest"
              },
              "example": {
                "policy": "public"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlaybackIDResponse"
                },
                "example": {
                  "data": {
                    "policy": "public",
                    "id": "Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/playback-ids/{PLAYBACK_ID}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Retrieve a playback ID",
        "description": "Retrieves information about the specified playback ID.",
        "operationId": "get-asset-playback-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          },
          {
            "$ref": "#/components/parameters/playback_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetPlaybackIDResponse"
                },
                "example": {
                  "data": {
                    "policy": "public",
                    "id": "vAFLI2eKFFicXX00iHBS2vqt5JjJGg5HV6fQ4Xijgt1I"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete a playback ID",
        "description": "Deletes a playback ID, rendering it nonfunctional for viewing an asset's video content. Please note that deleting the playback ID removes access to the underlying asset; a viewer who started playback before the playback ID was deleted may be able to watch the entire video for a limited duration.",
        "operationId": "delete-asset-playback-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          },
          {
            "$ref": "#/components/parameters/playback_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/mp4-support": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update MP4 support",
        "operationId": "update-asset-mp4-support",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "deprecated": true,
        "description": "This method has been deprecated. Please see the [Static Rendition API](https://www.mux.com/docs/guides/enable-static-mp4-renditions#after-asset-creation).\nAllows you to add or remove mp4 support for assets that were created without it. The values supported are `capped-1080p`, `audio-only`, `audio-only,capped-1080p`, `standard`(deprecated),  and `none`. `none` means that an asset *does not* have mp4 support, so submitting a request with `mp4_support` set to `none` will delete the mp4 assets from the asset in question.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetMP4SupportRequest"
              },
              "example": {
                "mp4_support": "capped-1080p"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                },
                "example": {
                  "data": {
                    "tracks": [
                      {
                        "type": "video",
                        "max_width": 1920,
                        "max_height": 1080,
                        "max_frame_rate": 29.97,
                        "id": "RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4",
                        "duration": 23.8238
                      },
                      {
                        "type": "audio",
                        "max_channels": 2,
                        "id": "LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg",
                        "duration": 23.823792
                      }
                    ],
                    "status": "ready",
                    "static_renditions": {
                      "status": "preparing"
                    },
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ"
                      }
                    ],
                    "mp4_support": "capped-1080p",
                    "max_stored_resolution": "HD",
                    "resolution_tier": "1080p",
                    "max_stored_frame_rate": 29.97,
                    "master_access": "none",
                    "id": "lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68",
                    "encoding_tier": "smart",
                    "video_quality": "plus",
                    "duration": 23.857167,
                    "created_at": "1609868768",
                    "aspect_ratio": "16:9",
                    "max_resolution_tier": "1080p",
                    "progress": {
                      "state": "completed",
                      "progress": 100
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/master-access": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update master access",
        "operationId": "update-asset-master-access",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "description": "Allows you to add temporary access to the master (highest-quality) version of the asset in MP4 format. A URL will be created that can be used to download the master version for 24 hours. After 24 hours Master Access will revert to \"none\".\nThis master version is not optimized for web and not meant to be streamed, only downloaded for purposes like archiving or editing the video offline.",
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetMasterAccessRequest"
              },
              "example": {
                "master_access": "temporary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                },
                "example": {
                  "data": {
                    "tracks": [
                      {
                        "type": "video",
                        "max_width": 1920,
                        "max_height": 1080,
                        "max_frame_rate": 29.97,
                        "id": "RiyQPM31a1SPtfI802bEP2zD02F5FQVNL801FRHeE5t01G4",
                        "duration": 23.8238
                      },
                      {
                        "type": "audio",
                        "max_channels": 2,
                        "id": "LvINTciHVoC017knMCH01y9pSi5OrDLCRaBPNDAoNJcmg",
                        "duration": 23.823792
                      }
                    ],
                    "status": "ready",
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "Lj02VZDorh9hCV00flNqPli8fmwf6KEppug01w8zDEYVlQ"
                      }
                    ],
                    "max_stored_resolution": "HD",
                    "resolution_tier": "1080p",
                    "max_stored_frame_rate": 29.97,
                    "master_access": "temporary",
                    "master": {
                      "status": "preparing"
                    },
                    "id": "lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68",
                    "encoding_tier": "baseline",
                    "video_quality": "basic",
                    "duration": 23.857167,
                    "created_at": "1609868768",
                    "aspect_ratio": "16:9",
                    "max_resolution_tier": "1080p",
                    "progress": {
                      "state": "completed",
                      "progress": 100
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/static-renditions": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create a static rendition for an asset",
        "description": "Creates a static rendition (i.e. MP4) for an asset",
        "operationId": "create-asset-static-rendition",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaticRenditionRequest"
              },
              "example": {
                "resolution": "highest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateStaticRenditionResponse"
                },
                "example": {
                  "data": {
                    "id": "lJ4bGGsp7ZlPf02nMg015W02iHQLN9XnuuLRBsPS00xqd68",
                    "type": "standard",
                    "ext": "mp4",
                    "status": "preparing",
                    "resolution": "highest",
                    "name": "highest.mp4"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/static-renditions/{STATIC_RENDITION_ID}": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete a single static rendition for an asset",
        "description": "Deletes a single static rendition for an asset",
        "operationId": "delete-asset-static-rendition",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          },
          {
            "$ref": "#/components/parameters/static_rendition_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/thumbnail-time": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Unset the thumbnail time for an asset",
        "description": "Unset the thumbnail time for an asset, returning the thumbnail to default behavior",
        "operationId": "delete-asset-thumbnail-time",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/tracks": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create an asset track",
        "description": "Adds an asset track (for example, subtitles, or an alternate audio track) to an asset. Assets must be in the `ready` state before tracks can be added.",
        "operationId": "create-asset-track",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrackRequest"
              },
              "example": {
                "url": "https://example.com/myVideo_en.srt",
                "type": "text",
                "text_type": "subtitles",
                "language_code": "en-US",
                "name": "English",
                "closed_captions": true,
                "passthrough": "English"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTrackResponse"
                },
                "example": {
                  "data": {
                    "type": "text",
                    "text_type": "subtitles",
                    "status": "preparing",
                    "passthrough": "English",
                    "name": "English",
                    "language_code": "en-US",
                    "id": "xBe7u01029ipxBLQhYzZCJ1cke01zCkuUsgnYtH0017nNzbpv2YcsoMDmw",
                    "closed_captions": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/tracks/{TRACK_ID}": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete an asset track",
        "description": "Removes a text or additional audio track from an asset. Neither video nor the primary audio track can be removed.",
        "operationId": "delete-asset-track",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          },
          {
            "$ref": "#/components/parameters/track_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Assets"
        ],
        "summary": "Update an asset track",
        "description": "Updates the details of an existing Asset Track with the provided Asset ID and Track ID.",
        "operationId": "update-asset-track",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          },
          {
            "$ref": "#/components/parameters/track_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetTrackRequest"
              },
              "example": {
                "language_code": "en-US",
                "name": "English"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAssetTrackResponse"
                },
                "example": {
                  "data": {
                    "type": "text",
                    "text_type": "subtitles",
                    "status": "ready",
                    "passthrough": "passthrough value",
                    "name": "English",
                    "language_code": "en-US",
                    "id": "xBe7u01029ipxBLQhYzZCJ1cke01zCkuUsgnYtH0017nNzbpv2YcsoMDmw",
                    "closed_captions": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/tracks/{TRACK_ID}/generate-subtitles": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Generate track subtitles",
        "description": "Generates subtitles (captions) for a given audio track. [See docs for more information.](https://mux.com/docs/guides/add-autogenerated-captions-and-use-transcripts#retroactively-enable-auto-generated-captions)",
        "operationId": "generate-asset-track-subtitles",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          },
          {
            "$ref": "#/components/parameters/track_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTrackSubtitlesRequest"
              },
              "example": {
                "generated_subtitles": [
                  {
                    "language_code": "en",
                    "name": "English (generated)",
                    "passthrough": "English (generated)"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTrackSubtitlesResponse"
                },
                "example": {
                  "data": [
                    {
                      "type": "text",
                      "text_type": "subtitles",
                      "status": "preparing",
                      "passthrough": "English (generated)",
                      "name": "English (generated)",
                      "language_code": "en",
                      "id": "hXhnqUq0054k9SBFB5aczHhj6xMbOTlriTG7gqRn8kikv101lkFUgKNw"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/assets/{ASSET_ID}/shots": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset shots",
        "description": "Retrieves the shot manifest URL containing shot boundaries and shot preview image URLs.",
        "operationId": "get-asset-shots",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetShotsResponse"
                },
                "example": {
                  "data": {
                    "status": "completed",
                    "shots_manifest_url": "https://artifacts.mux.com/a/QrgJ00hSt802eYjdclSMdH2vCpHhxBWxgbyLrPFTziJhQ/shots.json?<SIGNATURE>"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Generate shots",
        "description": "Generate shot boundaries and shot preview images.",
        "operationId": "generate-asset-shots",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAssetShotsRequest"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAssetShotsResponse"
                },
                "example": {
                  "data": {
                    "status": "pending"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete asset shots",
        "description": "Deletes detected shot boundaries and shot preview images on the asset.",
        "operationId": "delete-asset-shots",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/live-streams": {
      "post": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Create a live stream",
        "description": "Creates a new live stream. Once created, an encoder can connect to Mux via the specified stream key and begin streaming to an audience.",
        "operationId": "create-live-stream",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLiveStreamRequest"
              },
              "example": {
                "playback_policies": [
                  "public"
                ],
                "new_asset_settings": {
                  "playback_policies": [
                    "public"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "abcdefgh",
                    "status": "idle",
                    "reconnect_window": 60,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "latency_mode": "standard",
                    "max_continuous_duration": 43200
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "List live streams",
        "description": "Lists the live streams that currently exist in the current environment.",
        "operationId": "list-live-streams",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/stream_key"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter response to return live streams with the specified status only",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LiveStreamStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLiveStreamsResponse"
                },
                "example": {
                  "data": [
                    {
                      "stream_key": "831b5bde-cd8a-5bc4-115d-4ba34b19f481",
                      "status": "idle",
                      "reconnect_window": 60,
                      "playback_ids": [
                        {
                          "policy": "public",
                          "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                        }
                      ],
                      "new_asset_settings": {
                        "playback_policies": [
                          "public"
                        ]
                      },
                      "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                      "created_at": "1609937654",
                      "latency_mode": "standard",
                      "max_continuous_duration": 43200
                    },
                    {
                      "stream_key": "d273c65e-1fc8-27dc-e9ef-56144cbceb3a",
                      "status": "idle",
                      "reconnect_window": 60,
                      "recent_asset_ids": [
                        "SZs02xxHgYdkHp00OSCjJiHUHqzVQZNU332XPXRxe341o",
                        "e4J9cwb5tjVxMeeV8201dC00i800ThPKKGT2SEN002dHH2s"
                      ],
                      "playback_ids": [
                        {
                          "policy": "public",
                          "id": "00zOcribkUmXqXHzBTpflk2771BRTcKATqPjWf7JHpuM"
                        }
                      ],
                      "new_asset_settings": {
                        "playback_policies": [
                          "public"
                        ]
                      },
                      "id": "B65hEUWW01ErVKDDGImKcBquYhwEAkjW6Ic3lPY0299Cc",
                      "created_at": "1607587513",
                      "latency_mode": "standard",
                      "max_continuous_duration": 43200
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}": {
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Retrieve a live stream",
        "description": "Retrieves the details of a live stream that has previously been created. Supply the unique live stream ID that was returned from your previous request, and Mux will return the corresponding live stream information. The same information is returned when creating a live stream.",
        "operationId": "get-live-stream",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "831b5bde-cd8a-5bc4-115d-4ba34b19f481",
                    "status": "idle",
                    "reconnect_window": 60,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "latency_mode": "standard",
                    "max_continuous_duration": 43200
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Delete a live stream",
        "description": "Deletes a live stream from the current environment. If the live stream is currently active and being streamed to, ingest will be terminated and the encoder will be disconnected.",
        "operationId": "delete-live-stream",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Update a live stream",
        "description": "Updates the parameters of a previously-created live stream. This currently supports a subset of variables. Supply the live stream ID and the updated parameters and Mux will return the corresponding live stream information. The information returned will be the same after update as for subsequent get live stream requests.",
        "operationId": "update-live-stream",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLiveStreamRequest"
              },
              "example": {
                "latency_mode": "standard",
                "reconnect_window": 30,
                "max_continuous_duration": 1200
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "831b5bde-cd8a-5bc4-115d-4ba34b19f481",
                    "status": "idle",
                    "reconnect_window": 30,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "latency_mode": "standard",
                    "max_continuous_duration": 1200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/playback-ids": {
      "post": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Create a live stream playback ID",
        "description": "Create a new playback ID for this live stream, through which a viewer can watch the streamed content of the live stream.",
        "operationId": "create-live-stream-playback-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlaybackIDRequest"
              },
              "example": {
                "policy": "signed"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlaybackIDResponse"
                },
                "example": {
                  "data": {
                    "policy": "public",
                    "id": "4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/playback-ids/{PLAYBACK_ID}": {
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Retrieve a live stream playback ID",
        "description": "Fetches information about a live stream's playback ID, through which a viewer can watch the streamed content from this live stream.",
        "operationId": "get-live-stream-playback-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          },
          {
            "$ref": "#/components/parameters/playback_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLiveStreamPlaybackIDResponse"
                },
                "example": {
                  "data": {
                    "policy": "public",
                    "id": "4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Delete a live stream playback ID",
        "description": "Deletes the playback ID for the live stream. This will not disable ingest (as the live stream still exists). New attempts to play back the live stream will fail immediately. However, current viewers will be able to continue watching the stream for some period of time.",
        "operationId": "delete-live-stream-playback-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          },
          {
            "$ref": "#/components/parameters/playback_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/reset-stream-key": {
      "post": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Reset a live stream's stream key",
        "description": "Reset a live stream key if you want to immediately stop the current stream key from working and create a new stream key that can be used for future broadcasts.",
        "operationId": "reset-stream-key",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6",
                    "status": "idle",
                    "reconnect_window": 60,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      },
                      {
                        "policy": "public",
                        "id": "4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "latency_mode": "standard",
                    "max_continuous_duration": 43200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/complete": {
      "put": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Signal a live stream is finished",
        "description": "(Optional) End the live stream recording immediately instead of waiting for the reconnect_window. `EXT-X-ENDLIST` tag is added to the HLS manifest which notifies the player that this live stream is over.\n\nMux does not close the encoder connection immediately. Encoders are often configured to re-establish connections immediately which would result in a new recorded asset. For this reason, Mux waits for 60s before closing the connection with the encoder. This 60s timeframe is meant to give encoder operators a chance to disconnect from their end.\n",
        "operationId": "signal-live-stream-complete",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignalLiveStreamCompleteResponse"
                },
                "example": {
                  "data": {}
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/disable": {
      "put": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Disable a live stream",
        "description": "Disables a live stream, making it reject incoming RTMP streams until re-enabled. The API also ends the live stream recording immediately when active. Ending the live stream recording adds the `EXT-X-ENDLIST` tag to the HLS manifest which notifies the player that this live stream is over.\n\nMux also closes the encoder connection immediately. Any attempt from the encoder to re-establish connection will fail till the live stream is re-enabled.\n",
        "operationId": "disable-live-stream",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableLiveStreamResponse"
                },
                "example": {
                  "data": {}
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/enable": {
      "put": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Enable a live stream",
        "description": "Enables a live stream, allowing it to accept an incoming RTMP stream.",
        "operationId": "enable-live-stream",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableLiveStreamResponse"
                },
                "example": {
                  "data": {}
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/embedded-subtitles": {
      "put": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Update a live stream's embedded subtitles",
        "description": "Configures a live stream to receive embedded closed captions.\nThe resulting Asset's subtitle text track will have `closed_captions: true` set.\n",
        "operationId": "update-live-stream-embedded-subtitles",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLiveStreamEmbeddedSubtitlesRequest"
              },
              "example": {
                "embedded_subtitles": [
                  {
                    "passthrough": "Example"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6",
                    "status": "idle",
                    "reconnect_window": 60,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      },
                      {
                        "policy": "public",
                        "id": "4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "embedded_subtitles": [
                      {
                        "name": "English CC",
                        "language_code": "en",
                        "language_channel": "cc1",
                        "passthrough": "Example"
                      }
                    ],
                    "latency_mode": "standard",
                    "max_continuous_duration": 43200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/generated-subtitles": {
      "put": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Update a live stream's generated subtitles",
        "description": "Updates a live stream's automatic-speech-recognition-generated subtitle configuration.\nAutomatic speech recognition subtitles can be removed by sending an empty array in the\nrequest payload.\n",
        "operationId": "update-live-stream-generated-subtitles",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLiveStreamGeneratedSubtitlesRequest"
              },
              "example": {
                "generated_subtitles": [
                  {
                    "name": "English CC (ASR)",
                    "language_code": "en",
                    "passthrough": "Example"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "acaf2ca1-ba9c-5ffe-8c9c-a02bbf0009a6",
                    "status": "idle",
                    "reconnect_window": 60,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      },
                      {
                        "policy": "public",
                        "id": "4O902oOPU100s7XIQgOeY01U7dHzYlBe26zi3Sq01EJqnxw"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "generated_subtitles": [
                      {
                        "name": "English CC (ASR)",
                        "language_code": "en",
                        "passthrough": "Example"
                      }
                    ],
                    "latency_mode": "standard",
                    "max_continuous_duration": 43200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/playback-ids/{PLAYBACK_ID}": {
      "get": {
        "tags": [
          "Playback ID"
        ],
        "summary": "Retrieve an asset or live stream ID",
        "description": "Retrieves the Identifier of the Asset or Live Stream associated with the Playback ID.",
        "operationId": "get-asset-or-livestream-id",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/playback_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetOrLiveStreamIdResponse"
                },
                "example": {
                  "data": {
                    "id": "a1B2c3D4e5F6g7H8i9",
                    "policy": "public",
                    "object": {
                      "type": "asset",
                      "id": "123456789012345678"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/simulcast-targets": {
      "post": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Create a live stream simulcast target",
        "description": "Create a simulcast target for the parent live stream. Simulcast target can only be created when the parent live stream is in idle state. Only one simulcast target can be created at a time with this API.",
        "operationId": "create-live-stream-simulcast-target",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSimulcastTargetRequest"
              },
              "example": {
                "url": "rtmp://live.example.com/app",
                "stream_key": "abcdefgh",
                "passthrough": "Example"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulcastTargetResponse"
                },
                "example": {
                  "data": {
                    "url": "rtmp://live.example.com/app",
                    "stream_key": "abcdefgh",
                    "status": "idle",
                    "passthrough": "Example",
                    "id": "le1axfGDc9ETqh6trHNTxGQ9XEhj02fOnX0200aAh24fwlmwzqKCYNJgw"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/simulcast-targets/{SIMULCAST_TARGET_ID}": {
      "delete": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Delete a live stream simulcast target",
        "description": "Delete the simulcast target using the simulcast target ID returned when creating the simulcast target. Simulcast Target can only be deleted when the parent live stream is in idle state.",
        "operationId": "delete-live-stream-simulcast-target",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          },
          {
            "$ref": "#/components/parameters/simulcast_target_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Retrieve a live stream simulcast target",
        "description": "Retrieves the details of the simulcast target created for the parent live stream. Supply the unique live stream ID and simulcast target ID that was returned in the response of create simulcast target request, and Mux will return the corresponding information.",
        "operationId": "get-live-stream-simulcast-target",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          },
          {
            "$ref": "#/components/parameters/simulcast_target_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulcastTargetResponse"
                },
                "example": {
                  "data": {
                    "url": "rtmp://live.example.com/app",
                    "stream_key": "abcdefgh",
                    "status": "idle",
                    "passthrough": "Example",
                    "id": "02FU00rPq00fC9S6kygrqlxygGMdpW1lk00BkFpCfc2kGregEIr7brt7CQ"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/new-asset-settings/static-renditions": {
      "put": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Update live stream static renditions for new assets",
        "description": "Updates a live stream's static renditions settings for new assets. Further assets made via this live stream will create static renditions per the settings provided. You must provide all static renditions desired.",
        "operationId": "update-live-stream-new-asset-settings-static-renditions",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLiveStreamNewAssetSettingsStaticRenditionsRequest"
              },
              "example": {
                "static_renditions": [
                  {
                    "resolution": "audio-only"
                  },
                  {
                    "resolution": "highest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveStreamResponse"
                },
                "example": {
                  "data": {
                    "stream_key": "abcdefgh",
                    "status": "idle",
                    "reconnect_window": 60,
                    "playback_ids": [
                      {
                        "policy": "public",
                        "id": "HNRDuwff3K2VjTZZAPuvd2Kx6D01XUQFv02GFBHPUka018"
                      }
                    ],
                    "new_asset_settings": {
                      "playback_policies": [
                        "public"
                      ],
                      "static_renditions": [
                        {
                          "resolution": "audio-only"
                        },
                        {
                          "resolution": "highest"
                        }
                      ]
                    },
                    "id": "ZEBrNTpHC02iUah025KM3te6ylM7W4S4silsrFtUkn3Ag",
                    "created_at": "1609937654",
                    "latency_mode": "standard",
                    "max_continuous_duration": 43200
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Live Streams"
        ],
        "summary": "Delete a live stream's static renditions setting for new assets",
        "description": "Deletes a live stream's static renditions settings for new assets. Further assets made via this live stream will not create static renditions unless re-added.",
        "operationId": "delete-live-stream-new-asset-settings-static-renditions",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/livestream_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/signing-keys": {
      "post": {
        "deprecated": true,
        "tags": [
          "URL Signing Keys"
        ],
        "summary": "Create a URL signing key",
        "description": "This route is now deprecated, please use the `Signing Keys` API. Creates a new signing key pair. When creating a new signing key,\nthe API will generate a 2048-bit RSA key-pair and return the private key and\na generated key-id; the public key will be stored at Mux to validate signed\ntokens.\n\nNote: Any new access tokens authenticating this route will be required to have `System` level permissions.\n",
        "operationId": "create-url-signing-key",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigningKeyCreateResponse"
                },
                "example": {
                  "data": {
                    "private_key": "abcd123=",
                    "id": "vI5KTQ78ohYriuvWKHY6COtZWXexHGLllxksOdZuya8",
                    "created_at": "1610108345"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "deprecated": true,
        "tags": [
          "URL Signing Keys"
        ],
        "summary": "List URL signing keys",
        "description": "This route is now deprecated, please use the `Signing Keys` API. Returns a list of URL signing keys.\n\nNote: Any new access tokens authenticating this route will be required to have `System` level permissions.\n",
        "operationId": "list-url-signing-keys",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSigningKeysResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "vI5KTQ78ohYriuvWKHY6COtZWXexHGLllxksOdZuya8",
                      "created_at": "1610108345"
                    },
                    {
                      "id": "jc6lJiCLMjyC202EXtRQ644sShzDv6x5tWJrbvUFpvmo",
                      "created_at": "1608632647"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/video/v1/signing-keys/{SIGNING_KEY_ID}": {
      "get": {
        "deprecated": true,
        "tags": [
          "URL Signing Keys"
        ],
        "summary": "Retrieve a URL signing key",
        "description": "This route is now deprecated, please use the `Signing Keys` API. Retrieves the details of a URL signing key that has previously\nbeen created. Supply the unique signing key ID that was returned from your\nprevious request, and Mux will return the corresponding signing key information.\n**The private key is not returned in this response.**\n\nNote: Any new access tokens authenticating this route will be required to have `System` level permissions.\n",
        "operationId": "get-url-signing-key",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/signing_key_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigningKeyResponse"
                },
                "example": {
                  "data": {
                    "id": "jc6lJiCLMjyC202EXtRQ644sShzDv6x5tWJrbvUFpvmo",
                    "created_at": "1608632647"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "URL Signing Keys"
        ],
        "summary": "Delete a URL signing key",
        "description": "This route is now deprecated, please use the `Signing Keys` API. Deletes an existing signing key. Use with caution, as this will\ninvalidate any existing signatures and no URLs can be signed using the key\nagain.\n\nNote: Any new access tokens authenticating this route will be required to have `System` level permissions.\n",
        "operationId": "delete-url-signing-key",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/signing_key_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/video/v1/uploads": {
      "post": {
        "operationId": "create-direct-upload",
        "servers": [
          {
            "url": "https://api.mux.com"
          }
        ],
        "description": "Creates a new direct upload, through which video content can be uploaded for ingest to Mux.",
        "summary": "Create a new direct upload URL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
